<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center">Edit Product</h2>
                <form action="/admin/edit-product/{{editproduct.[0]._id}}" method="POST" enctype="multipart/form-data">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" value="{{editproduct.[0].Name}}"><br>

                    <div class="d-flex">
                        <div class="form-group col-md-4">
                            <label for="inputState">Category</label>
                            <select id="inputState" name="Category" class="form-control"
                                value="">
                                <option>{{editproduct.[0].Category.[0]}}</option>
                                {{#each getcategory}}
                                <option>{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputState">Sub Category</label>
                            <select id="inputState" name="SubCategory" class="form-control"
                                value="">
                                <option>{{editproduct.[0].SubCategory.[0]}}</option>
                                {{#each getsubcategory}}
                                <option>{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="inputState">Brands</label>
                            <select id="inputState" name="Brands" class="form-control" value="">
                                <option>{{editproduct.[0].Brands.[0]}}</option>
                                {{#each getbrands}}
                                <option>{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <label>Price</label>
                    <input type="text" name="Price" class="form-control" value="{{editproduct.[0].Price}}"><br>

                    <label>Cutprice</label>
                    <input type="text" name="Cutprice" class="form-control" value="{{editproduct.[0].Cutprice}}"><br>
                    
                    <label>Stock</label>
                    <input type="text" name="Stock" class="form-control" value="{{editproduct.[0].Stock}}"><br>
                    <label>Description</label>
                    <input type="text" name="Description" class="form-control" value="{{editproduct.[0].Description}}"><br>
                    <label>Images</label>
                    <img src="/product-images/{{editproduct.[0].Images.[0]}}" alt="" style="width: 100px;height: 130px">
                    <img src="/product-images/{{editproduct.[0].Images.[1]}}" alt="" style="width: 100px;height: 130px">
                    <img src="/product-images/{{editproduct.[0].Images.[2]}}" alt="" style="width: 100px;height: 130px">
                    <img src="/product-images/{{editproduct.[0].Images.[3]}}" alt="" style="width: 100px;height: 130px">
                    <input type="file" name="Images" class="form-control" multiple>
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>