<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4 text-center">All Orders</h4>

                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Delivery Status</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each order}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.date1}}</td>
                                <td>{{this.deliveryDetails.name}}, {{this.deliveryDetails.address}}</td>
                                <td>{{this.totalAmount}}</td>
                                <td>{{this.paymentMethod}}</td>
                                <td>{{this.status}}</td>
                                <td>

                                    {{#if cancel}}
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Cancelled
                                    </button>
                                    {{else}}
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Update Status
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                             <button class="dropdown-item"
                                                onclick="statusOrderConfirmed('{{this._id}}')">Order Confirmed</button>
                                            <button class="dropdown-item"
                                                onclick="statusShipped('{{this._id}}')">Shipped</button>
                                            <button class="dropdown-item" onclick="statusOut('{{this._id}}')">Out For
                                                Delivery</button>
                                                {{!-- {{if_eq adminDeliveryStatus "Out For Delivery"}} --}}
                                            <button class="dropdown-item"
                                                onclick="statusDelivered('{{this._id}}')">Delivered</button>
                                                {{!-- {{if_eq}} --}}
                                            <button class="dropdown-item"
                                                onclick="statusCancelled('{{this._id}}','{{this.totalAmount}}','{{this.paymentMethod}}','{{this.userId}}')">Cancel</button>
                                            {{/if}}
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <a href="/admin/view-order-products/{{this._id}}"
                                            class="btn btn-primary btn-sm"> View Order
                                        </a>
                                    </div><br>
                                   
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    function statusOrderConfirmed(orderId) {

        $.ajax({
            url: "/admin/change-status",
            data: {
                order: orderId,
                status: "Order Confirmed"
            },
            method: "post",
            success: (response) => {
                location.reload();
            },
        });
    }

    function statusShipped(orderId) {

        $.ajax({
            url: "/admin/change-status",
            data: {
                order: orderId,
                status: "Shipped"
            },
            method: "post",
            success: (response) => {
                location.reload();
            },
        });
    }

    function statusOut(orderId) {

        $.ajax({
            url: "/admin/change-status",
            data: {
                order: orderId,
                status: "Out For Delivery"
            },
            method: "post",
            success: (response) => {
                location.reload();
            },
        });
    }

    function statusDelivered(orderId) {

        $.ajax({
            url: "/admin/change-status",
            data: {
                order: orderId,
                status: "Delivered"
            },
            method: "post",
            success: (response) => {
                location.reload();
            },
        });
    }

    function statusCancelled(orderId,total,paymentType,usrId) {
        console.log("usrId",usrId)
        console.log("paymentType",paymentType)
        swal({
            title: "Are you sure?",
            text: "Product will be cancelled from orders",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/admin/admin-cancel-order",
                        data: {
                            order: orderId,
                            amount: total,
                            payment:paymentType,
                            userId: usrId
                           
                        },
                        method: "post",
                        success: (response) => {
                            location.reload();
                        },
                    });
                }
            });


    }
</script>