<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4 text-center">CATEGORY OFFER</h4>
                {{!-- <form class="d-flex justify-content-end">
                    <a href="/admin/add-offer-category" class="btn btn-success" style="width: fit-content;">ADD OFFER</a>
                </form><br> --}}
                <div class="table-responsive">
                    <table class="table table-hover" id="productsTable">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Name</th>
                                <th scope="col">Offer Percentage</th>
                                <th scope="col">Change Offer Percentage</th>
                                <th scope="col">Offer Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each category}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.Name}}</td>
                                <td>{{this.percentage}}</td>
                                 <td>
                                    <div>
                                        {{!-- <button  class="btn btn-primary btn-sm"
                                            onclick="">set percentage</button> --}}
                                            <a href="/admin/add-offer-category/{{this._id}}" class="btn btn-primary btn-sm">set percentage</a>
                                    </div>
                                <td>
                                    <div>
                                        {{#if this.offer}}
                                        <button  class="btn btn-success btn-sm"
                                            onclick="changeOffer1('{{this._id}}')">Active</button>
                                            {{else}}
                                            <button  class="btn btn-danger btn-sm" id="{{this._id}}"
                                            onclick="changeOffer('{{this._id}}')">Inactive</button>
                                            {{/if}}
                                    </div>
                                </td>
                               
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
function changeOffer(cartId) {
        $.ajax({
            url: "/admin/change-offer",
            data: {
                categoryId: cartId,
                 offer: "true"
            },
            method: "post",
            success: (response) => {
                if(response.status){
                    location.reload();
                }
            },
        });
    }

    function changeOffer1(cartId) {
        $.ajax({
            url: "/admin/change-offer",
            data: {
                categoryId: cartId,
                offer: "false"
            },
            method: "post",
            success: (response) => {
                if(response.status){
                    location.reload();
                }
            },
        });
    }
</script>