<div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4 text-center">COUPON</h4>
                <form class="d-flex justify-content-end">
                    <a href="/admin/add-coupon" class="btn btn-success" style="width: fit-content;">ADD COUPON</a>
                </form><br>
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Coupon Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Lowercap</th>
                                <th scope="col">Uppercap</th>
                                <th scope="col">Percentage</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each coupon}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.couponname}}</td>
                                <td>{{this.startdate}}</td>
                                <td>{{this.enddate}}</td>
                                <td>{{this.lowercap}}</td>
                                <td>{{this.uppercap}}</td>
                                <td>{{this.percentage}}</td>
                                <td>
                                    <div>
                                        <button  class="btn btn-danger btn-sm"
                                            onclick="deleteCoupon('{{this._id}}')">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteCoupon(coupId) {
        
        swal({
            title: "Are you sure?",
            text: "Coupon will be deleted",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/admin/delete-coupon",
                        data: {
                            couponId: coupId,
                        },
                        method: "post",
                        success: (response) => {
                            location.reload();
                        },
                    });
                }
            });
    }
</script>