<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- START HEADER AREA -->

        <!-- END HEADER AREA -->

        <!-- START MOBILE MENU AREA -->

        <!-- END MOBILE MENU AREA -->

        <!-- BREADCRUMBS SETCTION START -->

        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">

            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <h1 class="text-center">SHOPPING CART</h1><br>
                    <div class="row">
                        {{!-- <div class="col-lg-2">
                            <ul class="nav cart-tab">
                                <li>
                                    <a class="active" href="#shopping-cart" data-bs-toggle="tab">
                                        <span>01</span>
                                        Shopping cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#wishlist" data-bs-toggle="tab">
                                        <span>02</span>
                                        Wishlist
                                    </a>
                                </li>
                                <li>
                                    <a href="#checkout" data-bs-toggle="tab">
                                        <span>03</span>
                                        Checkout
                                    </a>
                                </li>
                                <li>
                                    <a href="#order-complete" data-bs-toggle="tab">
                                        <span>04</span>
                                        Order complete
                                    </a>
                                </li>
                            </ul>
                        </div> --}}
                        <div class="col-lg-12">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- shopping-cart start -->
                                <div class="tab-pane active" id="shopping-cart">
                                    <div class="shopping-cart-content">
                                        {{!-- <form action="#"> --}}

                                            {{#if products}}
                                            {{else}}
                                            <h3 class="text-center">Cart is empty</h3><br>
                                            {{/if}}
                                            {{#if cartTable}}
                                            <div class="table-content table-responsive mb-50">
                                                <table class="text-center">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-thumbnail">product</th>
                                                            <th class="product-price">price</th>
                                                            <th class="product-quantity">Quantity</th>
                                                            {{!-- <th class="product-subtotal">total</th> --}}
                                                            <th class="product-remove">action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- tr -->
                                                        {{#each products}}
                                                        <tr>
                                                            <td class="product-thumbnail">
                                                                <div class="pro-thumbnail-img">
                                                                    <img src="/product-images/{{this.product.Images.[0]}}"
                                                                        alt="">
                                                                </div>
                                                                <div class="pro-thumbnail-info text-left">
                                                                    <h6 class="product-title-2">
                                                                        <a href="#">{{this.product.Name}}</a>
                                                                    </h6>

                                                                    <p>Brand: {{this.Brands}}</p>

                                                                </div>
                                                            </td>
                                                            <td class="product-price">₹{{this.product.Price}}</td>

                                                            <td>
                                                                <div class="d-flex justify-content-center">
                                                                    <div><button class="cart-item-count mr-3 "
                                                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userlog._id}}','-1')">-</button>
                                                                    </div>
                                                                    <div id="{{this.product._id}}">{{this.quantity}}
                                                                    </div>
                                                                    <div><button class="cart-item-count ml-3 "
                                                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userlog._id}}','1')">+</button>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                            <td class="product-remove">
                                                                <div class="d-flex justify-content-center">
                                                                    <div>
                                                                        <button
                                                                            onclick="deleteProduct('{{this._id}}','{{this.product._id}}')"
                                                                            class="btn btn-danger btn-md">Remove</button>
                                                                        {{!-- <a href="/delete-cartproduct/{{this._id}}"
                                                                            onclick="return confirm('Do you want to delete {{this.product.Name}} ?')"><i
                                                                                class="zmdi zmdi-close"></i></a> --}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{/each}}


                                                    </tbody>
                                                </table>
                                            </div>
                                            {{/if}}
                                            {{!-- total and place order section start--}}
                                            <div class="d-flex justify-content-end">
                                                <div>
                                                    {{#if cartCount}}
                                                    <h3>TOTAL: ₹ <span id="total">{{totalValue}}</span></h3><br>
                                                    <a href="/place-order" class="btn btn-success">Place Order</a>
                                                    {{/if}}

                                                </div>
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->

        </section>
        <!-- End page content -->

        <!-- START FOOTER AREA -->
        <footer id="footer" class="footer-area section">
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="plr-185">
                        <div class="footer-top-inner gray-bg">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-5">
                                    <div class="single-footer footer-about">
                                        <div class="footer-logo">
                                            <img src="img/logo/logo.png" alt="">
                                        </div>
                                        <div class="footer-brief">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem
                                                Ipsum has been the subas industry's standard dummy text ever since the
                                                1500s,
                                            </p>
                                            <p>When an unknown printer took a galley of type and If you are going to use
                                                a
                                                passage of Lorem Ipsum scrambled it to make.</p>
                                        </div>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="" title="Facebook"><i
                                                        class="zmdi zmdi-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="" title="Google Plus"><i
                                                        class="zmdi zmdi-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="" title="Twitter"><i
                                                        class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-block d-xl-block d-lg-none d-md-none">
                                    <div class="single-footer">
                                        <h4 class="footer-title border-left">Shipping</h4>
                                        <ul class="footer-menu">
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-circle"></i><span>New
                                                        Products</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Discount
                                                        Products</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Best Sell
                                                        Products</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Popular
                                                        Products</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i
                                                        class="zmdi zmdi-circle"></i><span>Manufactirers</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Suppliers</span></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="zmdi zmdi-circle"></i><span>Special
                                                        Products</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3">
                                    <div class="single-footer">
                                        <h4 class="footer-title border-left">my account</h4>
                                        <ul class="footer-menu">
                                            <li>
                                                <a href="my-account.html"><i class="zmdi zmdi-circle"></i><span>My
                                                        Account</span></a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html"><i class="zmdi zmdi-circle"></i><span>My
                                                        Wishlist</span></a>
                                            </li>
                                            <li>
                                                <a href="cart.html"><i class="zmdi zmdi-circle"></i><span>My
                                                        Cart</span></a>
                                            </li>
                                            <li>
                                                <a href="login.html"><i class="zmdi zmdi-circle"></i><span>Sign
                                                        In</span></a>
                                            </li>
                                            <li>
                                                <a href="login.html"><i
                                                        class="zmdi zmdi-circle"></i><span>Registration</span></a>
                                            </li>
                                            <li>
                                                <a href="checkout.html"><i class="zmdi zmdi-circle"></i><span>Check
                                                        out</span></a>
                                            </li>
                                            <li>
                                                <a href="order.html"><i class="zmdi zmdi-circle"></i><span>Oder
                                                        Complete</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="single-footer">
                                        <h4 class="footer-title border-left">Get in touch</h4>
                                        <div class="footer-message">
                                            <form action="#">
                                                <input type="text" name="name" placeholder="Your name here...">
                                                <input type="text" name="email" placeholder="Your email here...">
                                                <textarea class="height-80" name="message"
                                                    placeholder="Your messege here..."></textarea>
                                                <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">submit
                                                    message</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom black-bg">
                <div class="container-fluid">
                    <div class="plr-185">
                        <div class="copyright">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="copyright-text">
                                        {{!-- <p class="copy-text"> © 2021 <strong>Subas</strong> Made With <i
                                                class="zmdi zmdi-favorite" style="color: red;" aria-hidden="true"></i>
                                            By <a class="company-name"
                                                href="https://themeforest.net/user/codecarnival/portfolio">
                                                <strong> CodeCarnival</strong></a>.</p> --}}

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="footer-payment text-right">
                                        <li>
                                            <a href="#"><img src="img/payment/1.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/payment/2.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/payment/3.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="img/payment/4.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END FOOTER AREA -->

        <!--style-customizer start -->

        <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->

    {{!-- ajax for increment and decrement button --}}
    <script>

        function changeQuantity(cartId, proId, userId, count) {
            let quantity = parseInt(document.getElementById(proId).innerHTML)
            count = parseInt(count)
            if (count == -1 && quantity == 1) {
                swal({
                    title: "Are you sure?",
                    text: "Product will be removed from cart!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: '/change-product-quantity',
                                data: {
                                    cart: cartId,
                                    product: proId,
                                    user: userId,
                                    count: count,
                                    quantity: quantity
                                },
                                method: 'post',
                                success: (response) => {
                                    if (response.removeProduct) {
                                        swal("Product removed from cart").then(() => {
                                            location.reload()
                                        })

                                    } else {

                                    }

                                }
                            })
                        }
                    });

            } else {
                $.ajax({
                    url: '/change-product-quantity',
                    data: {
                        cart: cartId,
                        product: proId,
                        user: userId,
                        count: count,
                        quantity: quantity
                    },
                    method: 'post',
                    success: (response) => {
                        if (!response.removeProduct) {
                            document.getElementById(proId).innerHTML = quantity + count
                            document.getElementById('total').innerHTML = response.total
                        } 

                    }
                })
            }
        }



        function deleteProduct(cartId, proId) {
            console.log("delete from cart");
            swal({
                title: "Are you sure?",
                text: "Product will be removed from cart!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/delete-cartproduct",
                            data: {
                                cart: cartId,
                                product: proId,
                            },
                            method: "post",
                            success: (response) => {
                                if (response.removed) {
                                    //alert("Product Removed from cart")
                                    swal("Success!", "Product removed from cart", "success").then(() => {
                                        location.reload();
                                    })

                                }
                            },


                        })
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });


        }


    </script>
</body>