<style>
.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #f60a0a;
  background: linear-gradient(#f60a0a 0%, #f60a0a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}


</style>


<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- START SLIDER AREA -->
    <div class="slider-area plr-185 mb-80 section">
        <div class="container-fluid">
            <div class="slider-content">
                <div class="active-slider-1 slick-arrow-1 slick-dots-1">
                    <!-- layer-1 Start -->
                    {{#each bannershow}}
                    <div class="col-lg-12">
                        <div class="layer-1">
                            <div class="slider-img">
                                {{!-- <img src="images/user/img/slider/slider-1/pic3.jpg" alt=""> --}}
                                <img src="/product-images/{{this.Images.[0]}}">
                            </div>
                            <div class="slider-info gray-bg">
                                <div class="slider-info-inner">
                                    <h1 class="slider-title-1 text-uppercase text-black-1">{{this.Name}}</h1>
                                    <div class="slider-brief text-black-2">
                                        {{!-- <p>All garments are subjected to the following tests Fabric dimensional stability test and quality inspection for colours and wash fastness. To maintain the Color please dry in shades. Usual Machine wash or Regular wash is preferable.; Machine wash cold with similar colors, gentle cycle, only non-chlorine bleach (when needed), tumble dry low, warm iron if needed, do not iron on print.</p> --}}
                                        <p>{{this.Description}}</p>
                                    </div>
                                    <a href="/allproducts" class="button extra-small button-black">
                                        <span class="text-uppercase">Shop now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- layer-1 end -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- END SLIDER AREA -->

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper section">

        <!-- BY BRAND SECTION START-->
       
        <!-- BY BRAND SECTION END -->

        <!-- FEATURED PRODUCT SECTION START -->
        
       
        <!-- PRODUCT TAB SECTION START -->
        <div class="product-tab-section mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title text-left mb-40">
                            <h2 class="uppercase">product list</h2>
                            {{!-- <h6>There are many variations of passages of brands available,</h6> --}}
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- popular-product start -->
                            <div id="popular-product" class="tab-pane active show">
                                <div class="row">
                                    <!-- product-item start -->
                                    {{#each productlist}}
                                    <div class="col-lg-3 col-md-4">
                                        <div class="product-item banner-item ">
                                <div class="ribbon">
                                    <span> {{this.discountpercentage}}% Off</span>
                                </div>
                                            <div class="product-img">
                                                <a href="/product-view/{{this._id}}">
                                                    <img src="/product-images/{{this.Images.[0]}}" alt="" style="width: 270px; height:300px" />
                                                </a>
                                            </div>
                                            <div class="product-info ribbon-corner ribbon-fold">
                                                <h6 class="product-title">
                                                    <a href="/product-view/{{this._id}}">{{this.Name}}</a>
                                                </h6>
                                               <h6 class="product-title">
                                                            <a href="/product-view/{{this._id}}">{{this.Brands}} </a><br>
                                                            {{!-- <a href="#">{{this.Category}} </a> --}}
                                                        </h6>
                                                        <h6 class="product-title"><a>Stock  {{this.Stock}}</a></h6>
                                                        {{!-- <h3 class="pro-price"><s>₹{{this.Cutprice}}</s></h3> --}}
                                                        <div> <s class="pro-price">MRP: {{this.Cutprice}}.00</s> </div>
                                                <h3 class="pro-price">₹{{this.Price}}</h3>
                                                
                                                
                                                <ul class="action-button">
                                                            <li>
                                                                 {{#if ../userlog}}
                                                                 {{#if this.wishlist}}
                                                                 <a onclick="deleteWishProduct1('{{this._id}}')" title=""><i class="zmdi zmdi-favorite" style="color:red ;"></i></a>
                                                                 {{else}}
                                                                <a onclick="addToWishlist('{{this._id}}')" title=""><i class="zmdi zmdi-favorite" style="color:blue ;"></i></a>
                                                                 {{/if}}
                                                                
                                                                {{else}}
                                                                {{!-- <a href="/login" class="btn btn-primary">Add to cart</a> --}}
                                                                <a href="/login" title=""><i class="zmdi zmdi-favorite" style="color:blue ;"></i></a>
                                                                {{/if}}
                                                                {{!-- <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a> --}}
                                                            </li>
                                                            {{!-- <li>
                                                                <a href="#" data-bs-toggle="modal"  data-bs-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                            </li> --}}
                                                            <li>
                                                                {{!-- <a href="/login" title=""><i class="zmdi zmdi-shopping-cart-plus"></i></a> --}}
                                                                {{#if ../userlog}}
                                                                <a onclick="addToCart('{{this._id}}')" title=""><i class="zmdi zmdi-shopping-cart-plus" style="color:black;"></i></a>
                                                                {{else}}
                                                                {{!-- <a href="/login" class="btn btn-primary">Add to cart</a> --}}
                                                                <a href="/login" title=""><i class="zmdi zmdi-shopping-cart-plus" style="color:black;"></i></a>
                                                                {{/if}}
                                                            </li>
                                                        </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                    <!-- product-item end -->
                                    
                                </div>
                                
                            </div>
                            <!-- popular-product end -->
                            <!-- new-arrival start -->
                            
                            <!-- new-arrival end -->
                            <!-- best-seller start -->
                            
                            <!-- best-seller end -->
                            <!-- special-offer start -->
                            
                            <!-- special-offer end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRODUCT TAB SECTION END -->

<!--2nd product section start-->

 

<!-- 2nd product section end-->
       
        <!-- BLOG SECTION END -->
    </section>
    <!-- End page content -->

    <!-- START FOOTER AREA -->
   
    <!-- END FOOTER AREA -->
</div>
<!-- Body main wrapper end -->
<script>
    function deleteWishProduct1( proId) {
            console.log("delete from wish");
            swal({
                title: "Are you sure?",
                text: "Product will be removed from wishlist!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/delete-wishlistproduct1",
                            data: {
                               // wishlist: wishlistId,
                                product: proId,
                            },
                            method: "post",
                            success: (response) => {
                                if (response.removed) {
                                    swal("Success!", "Product removed from wishlist", "success").then(() => {
                                        location.reload();
                                    })
                                }
                            },
                        })
                    } else {
                    }
                });
        }
</script>