<div class="container">
    <div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4 text-center">ORDERS</h4>
                <div class="table-responsive">
                    <table class="table table-hover" id="productsTable">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Pincode</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Status</th>
                                {{!-- <th scope="col">Image</th> --}}
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td style="width: 200px">{{this.date}}</td>
                                <td>{{this.deliveryDetails.address}}</td>
                                <td>{{this.deliveryDetails.pincode}}</td>
                                <td>{{this.deliveryDetails.mobile}}</td>
                                <td>{{this.totalAmount}}</td>
                                <td>{{this.paymentMethod}}</td>
                                <td>{{this.status}}</td>
                                {{!-- <td><img style="width: 50px;height: 50px" src="/product-images/{{this.Images.[0]}}">
                                </td> --}}
                                <td>
                                    <div>
                                        <a href="/view-order-products/{{this._id}}" class="btn btn-primary btn-sm"> View Product
                                        </a>
                                    </div><br>
                                    <div>
                                        {{!-- <a href="/cancel-order/{{this._id}}" class="btn btn-danger btn-sm"> Cancel Order
                                        </a> --}}
                                        <button class="btn btn-danger btn-sm" onclick="cancelProduct('{{this._id}}')">Cancel Order</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function cancelProduct(proId){
        console.log("cancel from orders");
         $.ajax({
           url: "/cancel-order",
           data: {
             product: proId
           },
           method: "post",
           success: (response) => {
            alert("Product cancelled from orders");
               location.reload();
             
           },
         });
    }
</script>