<div class="container">
    <div class="row">
    <div class="col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                <h4 class="mt-0 header-title mb-4 text-center">ADDRESS</h4>
                <form class="d-flex justify-content-end">
                    <a href="/add-address" class="btn btn-success" style="width: fit-content;">ADD ADDRESS</a>
                </form><br>
                <div class="table-responsive">
                    <table class="table table-hover" id="productsTable">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Address</th>
                                <th scope="col">State</th>
                                <th scope="col">City</th>
                                <th scope="col">Pincode</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each useradd.address}}
                            <tr>
                                <td>{{inc @index}}</td>
                                <td>{{this.Address}}</td>
                                <td>{{this.State}}</td>
                                <td>{{this.City}}</td>
                                <td>{{this.Pincode}}</td>
                                <td>
                                    {{!-- <div>
                                        <a href="/admin/delete-category/{{this._id}}" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Do you want to delete {{this.Name}} ?')">Delete</a>
                                    </div> --}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>