{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script> --}}
{{!-- nope --}}
<script src="https://unpkg.com/nice-invoice@1.1.4/dist/index.js"></script>


{{!-- working --}}
<section class="h-100 gradient-custom" >
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;" id="invoice">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;">{{userlog.Username}}</span>!</h5>
          </div>
          <div class="d-flex justify-content-end">
            {{#if_eq this.deliverystatus "Delivered"}}
             <div>
                {{!-- <a  class="btn btn-primary" id="download">download invoice</a> --}}
                 <a  class="btn btn-primary" onclick="invoice()">download invoice</a>
            </div>
            {{/if_eq}}
          </div>
           

          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              {{!-- <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> --}}
            </div>
            {{#each products}}
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="../product-images/{{this.Images.[0]}}" class="img-fluid" alt="Product img">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">Name : {{this.Name}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Category : {{this.Category}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Brand : {{this.Brands}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty : {{../orders.products.[0].quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Price : ₹{{this.Price}}</p>
                  </div>
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                
              </div>
            </div>
            {{/each}}

            <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                     {{#if orders.cancel}}
                    <p class="text-muted mb-0 small"></p>
                    {{else}}
                     <p class="text-muted mb-0 small">Track Order</p>
                    {{/if}}
                  </div>
                   
                    {{#if_eq this.deliverystatus "Order Confirmed"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 20%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{/if_eq}}

                     {{#if_eq this.deliverystatus "Shipped"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 40%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{/if_eq}}
                    
                     {{#if_eq this.deliverystatus "Out For Delivery"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 65%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{/if_eq}}
                     {{#if_eq this.deliverystatus "Delivered"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 100%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    
                    {{/if_eq}}
                    {{#if orders.cancel}}
                    <p class="text-muted mt-1 mb-0  ms-xl-5">Order Cancelled</p>
                    {{else}}
                    <div class="d-flex justify-content-around mb-1">
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Order Confirmed</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for Delivery</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                    </div>
                    {{/if}}
                    <div class="d-flex justify-content-end mb-1">
                      <button onclick="returnItem('{{orders._id}}')" style="color:blue ;">Return Item</button>
                    </div>

                  </div>
                </div>
          {{!-- {{#each orders}} --}}
            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>₹{{orders.totalAmount}}.00</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Number : {{orders._id}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Discount Applied</span>₹{{orders.discountamount}}.00</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date : {{orders.date}}</p>
              {{!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p> --}}
            </div>

            <div class="d-flex justify-content-between mb-5">
              {{!-- <p class="text-muted mb-0">Recepits Voucher : </p> --}}
              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
            </div>

             

          </div>
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              : <span class="h2 mb-0 ms-2">₹{{orders.totalAmount}}.00</span></h5>
          </div>
          {{!-- {{/each}}  --}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- START FOOTER AREA -->

<!-- END FOOTER AREA -->

<!-- START QUICKVIEW PRODUCT -->

<!-- END QUICKVIEW PRODUCT -->




<script>
    function invoice(){
       // console.log("id",orderid)
        console.log("Hello world")
         $.ajax({
            url: '/invoice',
            method: 'post',
            success: (response) => {
                if (response.status) {
                    swal("Success!", "invoice created", "success").then(() => {
                       // location.href = '/order-success'
                    })
                } else {
                   // location.href = '/cancel'
                }
            }
        })    
    }

function returnItem(orderId) {

        $.ajax({
            url: "/change-status",
            data: {
                order: orderId,
                status: "Return requested"
            },
            method: "post",
            success: (response) => {
                location.href='/orders'
            },
        });
    }
     
</script>
   
   

