{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script> --}}
<script src="https://unpkg.com/nice-invoice@1.1.4/dist/index.js"></script>


{{!-- working --}}
<section class="h-100 gradient-custom" >
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;" id="invoice">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;">{{userlog.Username}}</span>!</h5>
          </div>
          <div class="d-flex justify-content-end">
             <div>
                {{!-- <a  class="btn btn-primary" id="download">download invoice</a> --}}
                 <a  class="btn btn-primary" onclick="invoice()">download invoice</a>

            </div>
          </div>
           

          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              {{!-- <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> --}}
            </div>
            {{#each products}}
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="../product-images/{{this.Images.[0]}}" class="img-fluid" alt="Product img">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{this.Name}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{this.Category}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{this.Brands}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: {{../orders.products.[0].quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">₹{{../orders.totalAmount}}</p>
                  </div>
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                
              </div>
            </div>
            {{/each}}

            <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                     {{#if orders.cancel}}
                    <p class="text-muted mb-0 small"></p>
                    {{else}}
                     <p class="text-muted mb-0 small">Track Order</p>
                    {{/if}}
                  </div>
                   
                    {{#if_eq this.deliverystatus "Order Confirmed"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 20%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{/if_eq}}

                     {{#if_eq this.deliverystatus "Shipped"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 40%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{/if_eq}}
                    
                     {{#if_eq this.deliverystatus "Out For Delivery"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 65%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {{/if_eq}}
                     {{#if_eq this.deliverystatus "Delivered"}}
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 100%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    
                    {{/if_eq}}
                    {{#if orders.cancel}}
                    <p class="text-muted mt-1 mb-0  ms-xl-5">Order Cancelled</p>
                    {{else}}
                    <div class="d-flex justify-content-around mb-1">
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Order Confirmed</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for Delivery</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                    </div>
                    {{/if}}
                    <div class="d-flex justify-content-end mb-1">
                      {{!-- <a href="/Return-Item/{{this._id}}">Return Item</a> --}}
                    </div>

                  </div>
                </div>
          {{!-- {{#each orders}} --}}
            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>₹{{orders.totalAmount}}.00</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Number : {{orders._id}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Discount Applied</span>₹{{orders.discountamount}}.00</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date : {{orders.date}}</p>
              {{!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p> --}}
            </div>

            <div class="d-flex justify-content-between mb-5">
              {{!-- <p class="text-muted mb-0">Recepits Voucher : </p> --}}
              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
            </div>

             

          </div>
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              : <span class="h2 mb-0 ms-2">₹{{orders.totalAmount}}.00</span></h5>
          </div>
          {{!-- {{/each}}  --}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- START FOOTER AREA -->
<footer id="footer" class="footer-area section">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="footer-top-inner gray-bg">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-5">
                            <div class="single-footer footer-about">
                                <div class="footer-logo">
                                    <img src="img/logo/logo.png" alt="">
                                </div>
                                <div class="footer-brief">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the subas industry's standard dummy text ever since the 1500s,
                                    </p>
                                    <p>When an unknown printer took a galley of type and If you are going to use a
                                        passage of Lorem Ipsum scrambled it to make.</p>
                                </div>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="" title="Facebook"><i
                                                class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="" title="Google Plus"><i
                                                class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 d-block d-xl-block d-lg-none d-md-none">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">Shipping</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>New Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Discount Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Best Sell Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Popular Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Manufactirers</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Suppliers</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Special Products</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">my account</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="my-account.html"><i class="zmdi zmdi-circle"></i><span>My
                                                Account</span></a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html"><i class="zmdi zmdi-circle"></i><span>My
                                                Wishlist</span></a>
                                    </li>
                                    <li>
                                        <a href="cart.html"><i class="zmdi zmdi-circle"></i><span>My Cart</span></a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="zmdi zmdi-circle"></i><span>Sign In</span></a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i
                                                class="zmdi zmdi-circle"></i><span>Registration</span></a>
                                    </li>
                                    <li>
                                        <a href="checkout.html"><i class="zmdi zmdi-circle"></i><span>Check
                                                out</span></a>
                                    </li>
                                    <li>
                                        <a href="order.html"><i class="zmdi zmdi-circle"></i><span>Oder
                                                Complete</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">Get in touch</h4>
                                <div class="footer-message">
                                    <form action="#">
                                        <input type="text" name="name" placeholder="Your name here...">
                                        <input type="text" name="email" placeholder="Your email here...">
                                        <textarea class="height-80" name="message"
                                            placeholder="Your messege here..."></textarea>
                                        <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">submit
                                            message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <ul class="footer-payment text-right">
                                <li>
                                    <a href="#"><img src="/stylesheets/user/img/payment/1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/stylesheets/user/img/payment/2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/stylesheets/user/img/payment/3.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/stylesheets/user/img/payment/4.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER AREA -->

<!-- START QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product clearfix">
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="" src="/stylesheets/user/img/product/quickview.jpg">
                            </div>
                        </div><!-- .product-images -->

                        <div class="product-info">
                            <h1>Aenean eu tristique</h1>
                            <div class="price-box-3">
                                <div class="s-price-box">
                                    <span class="new-price">£160.00</span>
                                    <span class="old-price">£190.00</span>
                                </div>
                            </div>
                            <a href="single-product-left-sidebar.html" class="see-all">See all features</a>
                            <div class="quick-add-to-cart">
                                <form method="post" class="cart">
                                    <div class="numbers-row">
                                        <input type="number" id="french-hens" value="3">
                                    </div>
                                    <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                </form>
                            </div>
                            <div class="quick-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est
                                tristique auctor. Donec non est at libero.
                            </div>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social-icons clearfix">
                                        <li>
                                            <a class="facebook" href="#" target="_blank" title="Facebook">
                                                <i class="zmdi zmdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="google-plus" href="#" target="_blank" title="Google +">
                                                <i class="zmdi zmdi-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#" target="_blank" title="Twitter">
                                                <i class="zmdi zmdi-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="pinterest" href="#" target="_blank" title="Pinterest">
                                                <i class="zmdi zmdi-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="rss" href="#" target="_blank" title="RSS">
                                                <i class="zmdi zmdi-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
</div>
<!-- END QUICKVIEW PRODUCT -->


{{!-- <script>
    window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("invoice");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: 1,
                filename: 'myinvoice.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
}
</script> --}}

<script>
    function invoice(){
       // console.log("id",orderid)
        console.log("Hello world")
         $.ajax({
            url: '/invoice',
            method: 'post',
            success: (response) => {
                if (response.status) {
                    swal("Success!", "invoice created", "success").then(() => {
                       // location.href = '/order-success'
                    })
                } else {
                   // location.href = '/cancel'
                }
            }
        })    
    }
</script>
   

