<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- START HEADER AREA -->

        <!-- END HEADER AREA -->

        <!-- START MOBILE MENU AREA -->

        <!-- END MOBILE MENU AREA -->

        <!-- BREADCRUMBS SETCTION START -->

        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper section">

            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <h1 class="text-center">WISHLIST</h1><br>
                    <div class="row">
                        {{!-- <div class="col-lg-2">
                            <ul class="nav cart-tab">
                                <li>
                                    <a class="active" href="#shopping-cart" data-bs-toggle="tab">
                                        <span>01</span>
                                        Shopping cart
                                    </a>
                                </li>
                                <li>
                                    <a href="#wishlist" data-bs-toggle="tab">
                                        <span>02</span>
                                        Wishlist
                                    </a>
                                </li>
                                <li>
                                    <a href="#checkout" data-bs-toggle="tab">
                                        <span>03</span>
                                        Checkout
                                    </a>
                                </li>
                                <li>
                                    <a href="#order-complete" data-bs-toggle="tab">
                                        <span>04</span>
                                        Order complete
                                    </a>
                                </li>
                            </ul>
                        </div> --}}
                        <div class="col-lg-12">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- shopping-cart start -->
                                <div class="tab-pane active" id="shopping-cart">
                                    <div class="shopping-cart-content">
                                        {{!-- <form action="#"> --}}

                                            
                                            {{#if products}}
                                            <div class="table-content table-responsive mb-50">
                                                <table class="text-center">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-thumbnail">product</th>
                                                            <th class="product-price">price</th>
                                                            {{!-- <th class="product-quantity">Quantity</th> --}}
                                                            {{!-- <th class="product-subtotal">total</th> --}}
                                                            <th class="product-remove">action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- tr -->
                                                        {{#each products}}
                                                        <tr>
                                                            <td class="product-thumbnail">
                                                                <div class="pro-thumbnail-img">
                                                                    <img src="/product-images/{{this.product.Images.[0]}}"
                                                                        alt="">
                                                                </div>
                                                                <div class="pro-thumbnail-info text-left">
                                                                    <h6 class="product-title-2">
                                                                        <a href="/product-view/{{this.product._id}}">{{this.product.Name}}</a>
                                                                    </h6>

                                                                    <p>Brand: {{this.Brands}}</p>

                                                                </div>
                                                            </td>
                                                            <td class="product-price">₹{{this.product.Price}}</td>

                                                            {{!-- <td>
                                                                <div class="d-flex justify-content-center">
                                                                    <div><button class="cart-item-count mr-3 "
                                                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userlog._id}}','-1')">-</button>
                                                                    </div>
                                                                    <div id="{{this.product._id}}">{{this.quantity}}
                                                                    </div>
                                                                    <div><button class="cart-item-count ml-3 "
                                                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userlog._id}}','1')">+</button>
                                                                    </div>
                                                                </div>
                                                            </td> --}}

                                                            <td class="product-remove">
                                                                <div class="d-flex justify-content-center">
                                                                    <div>
                                                                        <button
                                                                            onclick="deleteWishProduct('{{this._id}}','{{this.product._id}}')"
                                                                            class="btn btn-danger btn-md">Remove</button>
                                                                        {{!-- <a href="/delete-cartproduct/{{this._id}}"
                                                                            onclick="return confirm('Do you want to delete {{this.product.Name}} ?')"><i
                                                                                class="zmdi zmdi-close"></i></a> --}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{/each}}


                                                    </tbody>
                                                </table>
                                            </div>
                                            {{else}}
                                            <h3 class="text-center">Wishlist is empty</h3><br>
                                            {{!-- <div>
                                                <img src="/public/images/user/pic7.jpg">
                                            </div> --}}
                                            {{/if}}
                                            {{!-- total and place order section start--}}
                                            {{!-- <div class="d-flex justify-content-end">
                                                <div>
                                                    {{#if cartCount}}
                                                    <h3>TOTAL: ₹ <span id="total">{{totalValue}}</span></h3><br>
                                                    <a href="/place-order" class="btn btn-success">Place Order</a>
                                                    {{/if}}

                                                </div>
                                            </div> --}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->

        </section>
        <!-- End page content -->

        <!-- START FOOTER AREA -->
        
        <!-- END FOOTER AREA -->

        <!--style-customizer start -->

        <!--style-customizer end -->
    </div>
    <!-- Body main wrapper end -->

    {{!-- ajax for increment and decrement button --}}
    <script>

        function deleteWishProduct(wishlistId, proId) {
            console.log("delete from wish");
            swal({
                title: "Are you sure?",
                text: "Product will be removed from wishlist!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/delete-wishlistproduct",
                            data: {
                                wishlist: wishlistId,
                                product: proId,
                            },
                            method: "post",
                            success: (response) => {
                                if (response.removed) {
                                    //alert("Product Removed from cart")
                                    swal("Success!", "Product removed from wishlist", "success").then(() => {
                                        location.reload();
                                    })

                                }
                            },
                        })
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
        }


    </script>
</body>